---
layout: layout.liquid
title: Home
---

<h1>Welcome <strong>Home</strong></h1>

<p> Tales of a star sailor and his treks across the cosmic seas. Journeys far and wide will be recorded here for all to read and be enjoyed across the observable universe!</p>



<a href="{{'/blog1/'}}">Blog Posts</a>